* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html {
	padding: 0;
	margin: 0;
	position: absolute;
	border-radius: 5px;
	overflow: hidden;
	width: 260px;
	height: 260px;
}
body {
	padding:0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow:hidden;
	border-radius:5px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.38);
	display: flex;
	flex-direction: column;
}

.mini_logo{
	width: 25px;
	height: 25px;
	background: url(../icon/icon_w.png) no-repeat;
	background-size: 100%;
	opacity:0.6;
	margin-right: 10px;
}

.title_app{
	width:auto;
	height:25px;
	font-size:14px;
	color:white;
	line-height:25px;
	font-weight:600;
	opacity:0.5;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	border-radius: 5px;
	padding: 0px;
	text-align: center;
	display: block;
	cursor: pointer;
	opacity: .7;
	transition: all .2s ease;
}
.button:hover {
	opacity: 1;
	transition: all .2s ease;
}
input {
	width: 100%;
    height: 35px;
    background-color: rgba(151, 133, 255, 0.2);
    padding: 0 0 0 5px;
    line-height: 35px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.84);
    padding-right: 40px;
    border: 1px solid ;
	-webkit-app-region: no-drag;
}

::placeholder {
    color: rgba(255, 255, 255, 0.84);
    opacity: 1; /* Firefox */
}

input.top {
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
    outline: none;
}

input.bot {
	
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
}

.bk_img {
	background: url(../img/bk.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
}
header {
	position: relative;
	height: 30px;
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 5px 0 5px;
	align-items: center;
	-webkit-app-region: drag;
}
main {
	width: 100%;
	padding: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
.close {
    position: relative;
    width: 10px;
    height: 12px;
    background: url(../icon/error.svg) no-repeat;
    margin-left: auto;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    top: 0px;
	-webkit-app-region: no-drag;
	transition: all .3s ease;
}
.close:hover {
	opacity: 1;
	transition: all .3s ease;
}
p {
	font-size: 12px;
	color: white;
	text-align:center;text-shadow: 1px 1px 14px rgb(59, 58, 58);
}