* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
img {
	-webkit-user-drag: none;
}

div, ul, li, button {
	user-select: none;
}

html{
	padding:0 ;
	margin: 0;
	width: 270px;
	height: 468px;
	position: absolute;
	overflow:hidden;
	border-radius:5px;
}

body{
	padding:0 ;
	width: 260px;
	height: 458px;
	position: absolute;
	overflow:hidden;
	border-radius:5px;
	margin:5px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.38);
}

main{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top:28px;
}


.bk_img{
	background:url('../img/bk.jpg') no-repeat center;
	width:100%;
	height:100%;
	background-size:cover;
	opacity:0.7;
	z-index:1;
	
}

.dl_box{
	position:relative;
	width:100%;
	height:auto;
	display:flex;
	align-items:center;
	justify-content: space-between;
	flex-direction:column;
	padding:0 5px 0 5px;
	z-index:1000;
	margin-top:10px;
}

.yt{
	position:relative;
	width:60%;
	height:35px;
	border:none;
	background-color: rgba(255, 255, 255, 0.45);
	padding:0 0 0 10px;
	font-size:14px;
	line-height:35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	outline:none;
	font-weight:300;
}

.yt::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); font-style: italic; }
.yt:-moz-placeholder { color: rgba(255, 255, 255, 0.8); font-style: italic; }
.yt::-moz-placeholder { color: rgba(255, 255, 255, 0.8); font-style: italic; }
.yt:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); font-style: italic; }


.b_range{
	width:65px;
	height:30px;
	padding:0 5px 0 5px;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari */
	transform: rotate(-90deg);
	position:absolute;
	right:-25px;
	top:5px;
	background-color:transparent !important;
}

.blur{
	-webkit-filter: blur(10px);
	filter: url('/media/blur.svg#blur');
	filter: blur(10px);
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background:transparent;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: rgba(255, 255, 255, 0.40);
	border-radius: 25px;
	border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 12px;
	width: 12px;
	border-radius:100%;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(255, 255, 255, 0.62);
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: rgba(255, 255, 255, 0.40);
	border-radius: 25px;
	border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 12px;
	width: 12px;
	border-radius:100%;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #ac51b5;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #ac51b5;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ac51b5;
}


.download{
	font-size:14px;
	width:38%;
	height:35px;
	position:relative;
	border:2px solid white;
	background:transparent;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color:white;
	cursor:pointer;
	transition:all 0.5s;
	outline:none;
}

.download:hover{
	background-color: rgba(255, 255, 255, 0.31);
}


h1 {
	position:absolute;
	font-size: 20px;
	color: white;
	top: 156px;
	left: 5px;
	margin: 0;
	padding: 0;
	width: 215px;
	font-weight: 100;
	text-overflow: ellipsis;
	max-height: 150px;
	overflow: hidden;
}
h2 {
	position: absolute;
	top: 250px;
	left: 25px;
	width: 215px;
	margin: 0;
	color:white;
	font-size: 15px;
	font-weight: 100;
	display:none;
}
header {
	position:absolute;
	top:0;
	height: 30px;
	width: 100%;
	border-bottom:1px solid rgba(255, 255, 255, 0.15);
	-webkit-user-select: none;
	-webkit-app-region: drag;
	z-index:1000;
	padding:0 5px 0 5px;
	display:flex;
	align-items:center;
}
.playlist {
	position: absolute;
	background:white;
	padding: 0;
	margin: 0;
	display:none;
}
.playlist > li {
	height: 40px;
	width:100%;
	padding: 10px;
	list-style: none;
}
header > .header-buttons {
	-webkit-app-region: no-drag;
}
.player {
    perspective: 1000px;
}
.image {
	position: absolute;
	top: 23px;
	left: 5px;
	height: 105px;
	width: 105px;
	overflow:hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    animation: floating 10s infinite;
    border-bottom: 2px solid rgba(0, 0, 0, .3)
}

@keyframes floating {
    0% {transform: translateY(0) scale(1); box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);}
    50% {transform: translateY(-10%) scale(.9); box-shadow: 0 5px 15px 0px rgba(0,0,0,1);}
    100% {transform: translateY(0) scale(1); box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);}
}


.image > img {
	height: 100%;
	width: auto;
	margin-left:-20px;
}



.playlist-button {
	position: absolute;
	bottom: 0;
	height: 53px;
	width: 100%;
	background: linear-gradient(180deg, #ce4fb8, #5abeec);
	background-size: 220% 220%;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-animation: PorcoDio 5s ease infinite;
	-moz-animation: PorcoDio 5s ease infinite;
	animation: PorcoDio 5s ease infinite;
	color: white;
	line-height: 53px;
	text-align: center;
	font-size: 18px;
	cursor:pointer;
	transition:all 0.5s;
}
.playlist-button:hover{
	opacity:0.8;
}

@-webkit-keyframes PorcoDio {
	0%{background-position:50% 0%}
	50%{background-position:100% 50%}
	100%{background-position:50% 0%}
}
@-moz-keyframes PorcoDio {
	0%{background-position:50% 0%}
	50%{background-position:100% 50%}
	100%{background-position:50% 0%}
}
@keyframes PorcoDio {
	0%{background-position:50% 0%}
	50%{background-position:100% 50%}
	100%{background-position:50% 0%}
}

.controls {
	position:absolute;
	height: 72px;
	bottom: 40px;
	width: 100%;
}

.time {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 123px;
}
.time >.duration, .time > .current-time {
	position: absolute;
	color:white;
	font-size: 12px;
	font-weight: 300;
	top: 15px;
}
.time > .duration {
	right: 25px;
}

.time > .current-time {
	left: 25px;
}
.time > .progressbar:hover {
	height: 8px;
	transition: all .3s;
}
.time > .progressbar {
	position: absolute;
	bottom: 0;
	width:100%;
	background: rgba(255, 255, 255, .2);
	margin: 10px 0 10px 0;
	height: 4px;
	transition: all .3s;
	cursor: pointer;
}
.time > .progressbar > .progress {
	position:relative;
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, .8);
	height: 50%;
	top:25%;
	background: white;
	width: 0;
	border-radius: 3px;
}

.time > .progressbar > .handle {
	position:absolute;
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, .8);
	height: 2px;
	top:1px;
	background: white;
	width: 0;
	right: 0;
	width: 3px;
}

.progress {
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
	-moz-animation: neon 1.5s ease-in-out infinite alternate;
	animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
	from {
		box-shadow: 0 0 20px 1px rgba(255, 255, 255, .8);
	}
	to {
		box-shadow: 0 0 0px 0px rgba(255, 255, 255, .8);
	}
}

.visualizer {
	position:absolute;
	width:100%;
	height: 100px;
	top: 100px;
}

.playpause {
	width: 40px;
	height: 40px;
	left: 50%;
	transform: translateX(-50%);
	
}
.controls > div {
	background-color: rgba(255, 255, 255, .6);
	cursor: pointer;
	transition: all .5s;
	position: absolute;
}
.controls > div:hover {
	background-color: rgba(255, 255, 255, 1);
	transition: all .5s;
}

.controls > div.active {
	background-color: rgba(255, 255, 255, 1);
}



.play {
    mask-image: url('../icon/play.svg');
    -webkit-mask-image: url('../icon/play.svg');
}
.pause {
	mask-image: url('../icon/pause.svg');
    -webkit-mask-image: url('../icon/pause.svg');
}


.speaker {
	top: 10px;
	left: 7px;
	width: 20px;
	height: 20px;
	mask-image: url('../icon/speaker.svg');
    -webkit-mask-image: url('../icon/speaker.svg');
}

.stream {
	top: 10px;
	left: 32px;
	width: 20px;
	height: 20px;
	mask-image: url('../icon/stream.svg');
    -webkit-mask-image: url('../icon/stream.svg');
}


.next {
	top: 10px;
	right: 70px;
	width: 20px;
	height: 20px;
	mask-image: url('../icon/next.svg');
    -webkit-mask-image: url('../icon/next.svg');
}



.prev {
	top: 10px;
	left: 70px;
	width: 20px;
	height: 20px;
	mask-image: url('../icon/back.svg');
    -webkit-mask-image: url('../icon/back.svg');
}

.header-buttons {
	position:absolute;
	right:10px;
	display:flex
}

.always-on-top {
	position: relative;
	width: 10px;
	height: 12px;
	background: url(../icon/pin.svg) no-repeat;
	margin-left: auto;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
	top: 0px;
	margin-right: 10px;
}

.always-on-top.active {
	opacity: 0.9;
}
.always-on-top:hover {
	opacity: 0.9;
}

.close {
	position: relative;
	width: 10px;
	height: 12px;
	background: url(../icon/error.svg) no-repeat;
	margin-left: auto;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
	top: 0px;
}

.close:hover{
	opacity:0.9;
}

.close2 {
	position: absolute;
	top:2px;
	right:2px;
	width: 16px;
	height: 16px;
	background: url(../icon/close.svg) no-repeat;
	margin-left: auto;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.3;
}

.close2:hover{
	opacity:0.9;
}

.mini_logo{
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../icon/icon_w.png) no-repeat;
	background-size: 100%;
	opacity:0.6;
}

.title_app{
	position:absolute;
	left:35px;
	width:auto;
	height:25px;
	font-size:14px;
	color:white;
	line-height:25px;
	font-weight:600;
	opacity:0.5;
}



.modal {
	position:absolute;
	bottom: -53px;
	height: 53px;
	transition: all 1s;
	background: white;
	width: 100%;
}

.modal.active {
	bottom: 0;
	transition: all 1s;
	z-index: 10;
}

.box_ss{
	position:absolute;
	width:100%;
	height:340px;
	background-color: rgba(255, 255, 255, 0.95);
	bottom: -340px;
	overflow:auto;
	overflow-x:hidden;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: all .5s;
}

.search_song{
	position:relative;
	width:100%;
	height:35px;
	background-color: rgba(151, 133, 255, 0.2);
	padding:0 0 0 5px;
	line-height:35px;
	font-size:15px;
	color: rgba(255, 255, 255, 0.84);
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	outline:none;
	padding-right:40px;
	border:1px solid rgba(155, 149, 255, 0.21);
}

.search_song::-webkit-input-placeholder { color: rgba(221, 221, 221, 0.8); font-style: italic; }
.search_song:-moz-placeholder { color: rgba(221, 221, 221, 0.8); font-style: italic; }
.search_song::-moz-placeholder { color: rgba(221, 221, 221, 0.8); font-style: italic; }
.search_song:-ms-input-placeholder { color: rgba(221, 221, 221, 0.8); font-style: italic; }

.search_song:focus {
	border: 1px solid rgba(187, 189, 255, 0.46);
	-webkit-box-shadow: 0px 0px 5px rgba(183, 85, 240, 0.35);
	-moz-box-shadow: 0px 0px 5px rgba(183, 85, 240, 0.35);
	box-shadow: 0px 0px 5px rgba(183, 85, 240, 0.35);
}


.search {
	position: absolute;
	top:7px;
	right:9px;
	width: 20px;
	height: 20px;
	margin-left: auto;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s;
	z-index:100;
}

@keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes lds-dual-ring_reverse {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@-webkit-keyframes lds-dual-ring_reverse {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.lds-css{
	position:absolute;
	top:0;
}
.lds-dual-ring {
	position: relative;
	opacity: 0;
	transition: all .5s;
}
.lds-dual-ring.active {
	opacity: 1;
	transition: all .5s;
}
.lds-dual-ring div {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid #000;
	border-color: #4658ac transparent #4658ac transparent;
	-webkit-animation: lds-dual-ring 1s linear infinite;
	animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring div:nth-child(2) {
	width: 14px;
	top:3px;
	left:3px;
	height: 14px;
	border-color: transparent #b27fe7 transparent #b27fe7;
	-webkit-animation: lds-dual-ring_reverse 1s linear infinite;
	animation: lds-dual-ring_reverse 1s linear infinite;
}
.lds-double-ring {
	width: 20px !important;
	height: 20px !important;
	-webkit-transform: translate(-10px, -10px) scale(0.1) translate(10px, 10px);
	transform: translate(-10px, -10px) scale(0.1) translate(10px, 10px);
}



.div_search{
	position:relative;
	width:100%;
	padding:5px;
	height:auto;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.06);
	overflow:hidden;
	color:#ededed;
	font-size:13px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b185fc+1,9785ff+32,afa3ff+100 */
	background: -webkit-linear-gradient(top, rgba(177, 133, 252, 0.53) 1%, rgba(151, 133, 255, 0.64) 32%, rgba(175, 163, 255, 0.61) 100%); /* Chrome10-25,Safari5.1-6 */
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	z-index:100;
}

.head_div_search{
	position:relative;
	width:100%;
	height:15px;
}

.st_pl{
	font-size:15px;
	color: #a5a5a5;
	font-weight:300;
	display:block;
	width:100%;
	margin-top:5px;
	padding-left:5px;
	text-align:center;
}

.line{
	position:relative;
	width:100%;
	height:1px;
	background-color: #f0f0f0;
}

.box_single{
	position:relative;
	width:100%;
	height:50px;
	background-color: rgba(255, 255, 255, 0.33);
	margin:7px 0 7px 0;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	overflow:hidden;
	cursor: pointer;
	transition: all .5s;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.box_single:first-of-type{
	margin-top:0;
}

.box_single:last-of-type{
	margin-bottom:0;
}

.box_single:hover {
	opacity: .8;
	transition: all .5s;
}

.box_single > .b_thumb{
	position:relative;
	width:50px;
	height:50px;
	overflow:hidden;
	border-radius:5px;
}

.box_single > .b_thumb > img{
	max-height:50px;
	margin-left:-10px;
	
}

.box_single > .title{
	position:relative;
	width:60%;
	margin-left:10px;
	margin-right:40px;
	overflow:hidden;
	color: #f1f1f1;
	font-size:13px;
	font-weight:500;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.cancel {
	position: absolute;
	top:2px;
	right:2px;
	width: 18px;
	height: 18px;
	background: url(../icon/cancel.svg) no-repeat;
	margin-left: auto;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.3;
}

.cancel:hover{
	opacity:0.9;
}

.box_ss.active {
	bottom: 0;
	transition: all .5s;
}

.playlist_visualizer {
	position:absolute;
	height:50px;
	width:100%;
	top:0;
}

.logs {
	font-size:13px;
	-webkit-animation: neon-text 1.5s ease-in-out infinite alternate;
	-moz-animation: neon-text 1.5s ease-in-out infinite alternate;
	animation: neon-text 1.5s ease-in-out infinite alternate;
	color:white;
}

@keyframes neon-text {
	from {
		text-shadow: 0 0 20px rgba(255, 255, 255, .8);
	}
	to {
		text-shadow: 0p 0 0 rgba(255, 255, 255, .8);
	}
}
::-webkit-scrollbar {
    background: transparent;
    width:5px;
	border-radius: 10px;
	overflow:hidden;
	padding:10px;
}

::-webkit-scrollbar-thumb {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a87d3+0,a964ba+100 */
	background: #2a87d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a87d3 0%, #a964ba 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2a87d3 0%,#a964ba 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2a87d3 0%,#a964ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a87d3', endColorstr='#a964ba',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
}





/* search results animation */

.box_single {
	opacity: 0;
	transform: scale(200); 
	transition: all 0.5s;
}

.box_single.active {
	opacity: 1;
	transform: scale(1);
	transition: all 0.5s;
}

.playlist-box .title {
	color: #4D4D4D
}